body{
    margin: 0;
}

.heading{
    display: flex;
    background: #fff;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #282c3f;
}

.heading > ul{
    list-style: none;
    display: flex;
}

.heading > ul > li{
    margin: 0 5px;
    cursor: pointer;
}

.logo{
    cursor: pointer;
}

.logo {
    width: 91px;
}

h5{
    margin: 0;
    padding: 0;
}

.restaurant-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
.shimmerUI{
    margin: 90px;
}

.shimmer-search{
    padding-top: 5px;
    text-align: center;
    height: 30px;
    margin-top: 2rem;
    margin-left: 26rem;
    width: 25rem;
    border-radius: 5px;
    background-color: #ced0d7;
}
.shimmer-box{
    height: 320px;
    width: 270px;
    margin-top: 3rem;
    border-radius: 5px;
    margin-left: 12px;
    background-color: #ced0d7;
}




.search{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 25rem;
    width:max-content;
    padding: 10px;
    display: flex;
}

.search-text{
    width: 20rem;
    margin-right: 3rem;
    padding: 7px;
    border-radius: 5px;
    background-color: #eee;
    border: 0 inset #0006;
    font-size: 16px;
    flex-basis: 350px;
}






.card {
    height: 320px;
    width: 270px;
    /* flex-basis: 0px; */
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid white;
}

.card:hover{
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}

.card > img{
    width: 100%;
}
.card-item{
    color: black;
}

.card-title{
    word-spacing: 3px;
    font-size: 18px;
    font-weight: 500;
}

.card-cuisine{
    color: #686b78;;
    font-size: 13px;
    margin-top: 4px;
}

.card >h5{
    color: gray;
    font-size: 12px;
    padding-top: 5px;
}

.rating{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

